[user]
	name = Julien
	email = juliencaron@protonmail.com
[core]
	editor = code --wait
	compression = 0
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[pull]
	rebase = true
[http]
	postBuffer = 157286400
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
